body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

/* nav bar */
.navbar{
  align-items: center;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #F55A5A;
  padding: 2px;
  box-shadow:0px 3px 8px rgb(0, 0, 0, 0.1) ;
  justify-content: center;
}

.world--img{
  width: 30px;
}

.navbar--title{
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

/*cards tyling */

.card-lists{
  margin-top: 50px;
  margin-left: 35px;
}

.card--main{
  height:auto;
  display: flex;
  padding: 15px;
  flex-direction: row;
  box-shadow:0px 3px 8px rgb(0, 0, 0, 0.1) ;
  position: relative;
}

.card--one{
  align-items: flex-start;
}

.journal--img{
  width: 200px;
  height: 250px;
  border-radius: 5px;
}

.card--two{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.card--stats{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding: 5px 5px;
  
}

.ping--img{
  margin: auto;
  width: 15px;
  height: 18px;
}

.card--country{
  line-height: 2px;
  padding: 2px 5px;
  font-size: 17px;
  margin: auto;
}

.card--googlemaps{
  color: grey;
  padding: 2px 5px;
  font-size: 10px;
  margin-left: 5px;
}

.card--three{
  position: absolute;
  width: 400px;
  left: 230px;
  top: 50px;
}

.card--place{
  padding: 0px 5px;
  text-align: left;
  padding: 5px;
  margin-bottom: 20px;
}

.card--date{
  padding: 0px 5px;
  text-align: left;
  font-weight: bold;
}

.card--desc{
  color: #6e6e6e;
  padding: 0px 5px;
  text-align: left;
}



.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 4px;
  border-radius: 5px;
}

